*.suo
*.pdb
ConsolePruebaGit/ConsolePruebaGit/bin/Debug/net6.0/*.pdb
ConsolePruebaGit\ConsolePruebaGit\ConsolePruebaGit\bin\Debug\net6.0/*.pdb
ConsolePruebaGit/ConsolePruebaGit/ConsolePruebaGit/bin/Debug/net6.0/*.pdb
ConsolePruebaGit\ConsolePruebaGit\ConsolePruebaGit\bin\Debug\net6.0\*.pdb
ConsolePruebaGit\ConsolePruebaGit\bin\Debug\net6.0/*.pdb
ConsolePruebaGit\ConsolePruebaGit\bin\Debug\net6.0\*.pdb